<div class="jumbotron" style="background-color:transparent;" ng-show="jumbo_flag">
    <div class="container">
        <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 profile-thumb" style="background-image: url(http://himanshuchoudhary.com/sites/student-search-photo/photos/{{userData.username}}.jpg), url({{userData.photo}}), url(img/nopic.gif)"></div>
        <div class="col-md-9 col-sm-12">
            <blockquote>
                <a href="http://home.iitk.ac.in/~{{userData.username}}"><h2>{{userData.name}}</h2></a>
                <p><u>Roll No.</u> : {{userData.roll_no}}</p>
                <p><u>Program</u> : {{userData.program}}</p>
                <p><u>Department</u> : {{userData.department}}</p>
                <p><u>E-mail</u> : {{userData.mail}}</p>
                <p><u>IITK Address</u> : {{userData.hostel}}</p>
                <p><u>Home Address</u> : {{userData.address}}</p>
                <p><u>Gender</u> : {{userData.gender}}</p>
                <p><u>Blood Group</u> : {{userData.blood}}</p>
            </blockquote>
        </div>
    </div>
</div>
