<div class="jumbotron" style="background-color:transparent;" ng-show="jumbo_flag">
    <div class="container">
        <div class="col-md-3 text-center">
            <img ng-src="{{userData.photo}}" alt="Photo not available" class="img img-thumbnail"/>
        </div>
        <div class="col-md-9">
            <blockquote>
                <a href="http://home.iitk.ac.in/~{{userData.username}}"><h2>{{userData.name}}</h2></a>
                <p><u>Roll No.</u> : {{userData.roll_no}}</p>
                <p><u>Program</u> : {{userData.program}}</p>
                <p><u>Department</u> : {{userData.roll_no}}</p>
                <p><u>E-mail</u> : {{userData.mail}}</p>
                <p><u>IITK Address</u> : {{userData.hostel}}</p>
                <p><u>Home Address</u> : {{userData.address}}</p>
                <p><u>Gender</u> : {{userData.gender}}</p>
                <p><u>Blood Group</u> : {{userData.blood}}</p>
            </blockquote>
        </div>
    </div>
</div>
